.editor-header {
    display: flex;
    justify-content: space-between;
    margin: 24px auto 60px auto;
    max-width: 1357px; 
}
.editor-header__home__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    width: 52px;
    height: 39px;
}
.editor-header__home {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;  
}
.editor-header__home__text {
    margin-left: 25px;
    color: #304351;
    font-size: 16px;
}
.editor-header__icons {
    margin-right: 24px;
}
.editor-header__icons__list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.editor-header__icons__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    width: 52px;
    height: 39px;
    margin-right: 20px;
}
.editor__bottom {
    display: flex;
    align-items: center;
    margin: 520px auto 60px auto;
    max-width: 1357px; 
}
.editor__bottom__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    width: 52px;
    height: 39px;
    margin-left: 24px;
}
.editor-bottom__text {
    margin-left: 25px;
    color: #304351;
    font-size: 14px;
}