.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
}
.filters-gender__male {
    width: 102px;
    height: 44px;
    margin-right: -2px;
    background: #F3F6F8;
    border: none;
    outline: none;
    border: 1px solid rgb(215, 216, 216);
    font-size: 14px;
    color: #6D7173;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    border-right: none;
}
.filters-gender__female {
    width: 102px;
    height: 44px;
    margin-left:-2px;
    background: #F3F6F8;
    color: #6D7173;
    font-size: 14px;
    border: 1px solid rgb(215, 216, 216);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    border-left: none;
}
.filters-gender_selected {
    background: #21AA63;
    color:white;
    border: none;
}
.filters-check__item {
    display: flex;
    justify-content: flex-start;
}
.filters-check__btn {
    width: 20px;
    height: 20px;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    background: white;
    cursor: pointer;
}
.filters-check__text {
    margin-left: 10px;
    font-size: 14px;
    color: #304351;
}
.filters-check_selected {
    background: #21AA63;
    border: none;
    position: relative;
}
.filters-check_selected::after {
    background: url("../img/Slice.svg");
    position: absolute;
    content: "";
    width: 14px;
    height: 11px;
    top: 5px;
    right: 3px;
}
.filters-link {
    font-weight: 500;
    font-size: 14px;
    color: #304351;
    text-decoration: none;
}
.filters-link:hover {
    text-decoration: underline;
    color: #21AA63;
}
.filters-range {
    margin-left: 15px;
}
.filters-range__counter {
    display: flex;
    justify-content: space-between;
    width: 160px;
}
.filters-range__counter-start {
    margin-top: 15px;
    margin-left: 5px;
    color: #304351;
    font-size: 14px;
}
.filters-range__counter-end {
    margin-top: 15px;
    margin-right: -17px;
    color: #304351;
    font-size: 14px;
}

.radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
    margin: 10px 0 0 7px;
}
.radio + label {
	position: relative;
	padding: 0 0 0 100px;
    cursor: pointer;
    outline: none;
}

.radio + label:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	
    border: 1px solid rgb(215, 216, 216);
    background: #F3F6F8;
    
}
.radio + label:first-of-type:before {
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    content: 'мужской';
    left: 15px;
    color: #6D7173;
    padding: 11px 10px 11px 10px;
}
.radio + label:last-of-type:before {
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    content: 'женский';
    right: 15px;
    color: #6D7173;
    padding: 11px 10px 11px 10px;
}
.radio + label:first-of-type:after {
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    content: 'мужской';
    left: 15px;
    color: white;
    padding: 11px 10px 11px 10px;
}
.radio + label:last-of-type:after {
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    content: 'женский';
    right: 15px;
    color: white;
    padding: 11px 10px 11px 10px;
}
.radio + label:after {
	content: '';
	position: absolute;
	top: -2.2px;
    left: 0;
	
	background: #21AA63;
	opacity: 0;
	transition: .2s;
}
.radio:checked + label:after {
	opacity: 1;
}

.filters-check {
    display: flex;
    flex-direction: column;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    font-size: 12px;
    color: #304351;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url("../img/arrow.svg") center no-repeat;
    cursor:pointer;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
}
input[type="checkbox"]:checked + label span {
    background:url("../img/arrow.svg") -22px top no-repeat;
}
@media screen and (max-width: 992px){
    .filters {
        display: none;
    }
}