.mb-1 {
    margin-bottom: 8px;
}
.mb-2 {
    margin-bottom: 16px;
}
.mb-3 {
    margin-bottom: 24px;
}
.mb-4 {
    margin-bottom: 32px;
}
.mb-5 {
    margin-bottom: 40px;
}
.mb-10 {
    margin-bottom: 80px;
}

