.button {
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.4s ease-out, color 0.4s ease-out, border 0.4s ease-out; 
}
.button_login {
    width: 371px;
    height: 52px;
    font-size: 18px;
    font-weight: 500;
    color:white;
    background-color: #21AA63;
    border: 1px solid transparent;
}
.button_login:hover {
    background-color: white;
    color: #21AA63;
    border: 1px solid #21AA63;
    transition:  background-color 0.4s ease-out, color 0.4s ease-out, border 0.4s ease-out;
    font-weight: 500;
    cursor: pointer;
}
.button_border {
    width: 142px;
    height: 40px;
    border: 1px solid #21AA63;
    background-color: white;
    margin-right: 20px;
}
.button__icon {
    position: absolute;
    display: inline;
    padding-top: 4px;
    padding-left: 2px;
}
 .button__text {
    color: #21AA63;
    font-size: 14px;
    padding-left: 25px;
    display: inline;
    transition: color 0.4s ease-out;
} 
.button_border:hover .button__text {
    color:white;
    transition: all 0.4s ease-out; 
    padding-right: 20px;
}
.button_border:hover {
    background-color: #21AA63;
    border: none;
    outline: none;
    transition: background-color 0.4s ease-out, border 0.4s ease-out; 
    border: 1px solid transparent;
}
.button_border:hover .button__icon {
    display: none;
}
.button_filters {
    width: 174px;
    height: 46px;
    border: 1px solid #21AA63;
    background-color: white;
    color: #21AA63;
    font-weight: 500;
    font-size: 14px;
}
.button_filters:hover {
    border: none;
    background-color: #21AA63;
    color: white;
    font-weight: 500;
    font-size: 14px;
}
.button_executor {
    border: none;
    width: 186px;
    height: 46px;
    background-color: #21AA63;
    color: white;
    font-weight: 500;
    font-size: 14px;
}
.button_executor:hover {
    border: 1px solid #21AA63;
    background-color: white;
    color: white;
    font-weight: 500;
    font-size: 14px;
    color: #21AA63;
}

.button_border_grey {
    /* сюда стили для кнопки  "Получить расчёт по бюджету" на странице статистика */
    /* к этой кнопке можно применить модификаторы .button_border и .button_border_grey */
    /* в этом классе будет только изменение цвета обводки (border-color: #DFE2E4;) */
}

/* .button_full {
    width: 100%; 
} */
@media (max-width: 992px){
    .button_border {
        width: 220px;
        height: 55px;
        margin-right: 0px;
    }
    .button__text {
        font-size: 26px;
    }
    .button__icon {
        padding-top: 4px;
        padding-right: 12px;
        width: 26px;
        height: 26px;
    } 
}