.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.card:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}
.card_project {
    width: 240px;
    height: 304px;
}
.card_person {
    width: 244px;
    height: 276px;
}
.card_person .card__img img {
    width: 96px;
    height: 96px;
}
.card_project .card__img img {
    width: 156px;
    height: 156px;
}
.card_person .card__menu {
    position: absolute;
    background: transparent;
    border: none;
    outline: none;
    margin-top: -110px;
    margin-left: 100px;
    cursor: pointer;
}
.card_person .card__title {
    font-weight: 500;
    color: #304351;
    font-size: 18px;
}
.card_person .card__subtitle {
    color: #304351;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    width: 80%;
}
.card_project .card__menu {
    margin-left: 180px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.card_project .card__title {
    font-weight: 500;
    color: #304351;
    font-size: 16px;
}
.card_project .card__subtitle {
    color: #304351;
    font-size: 14px;
    font-weight: normal;
}
.card_script {
    display: flex;
    flex-direction: column;
    width: 196px;
    height: 236px;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.card_script:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}
.card_script__img {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.card_script__text {
    margin-top: 10px;
    font-size: 14px;
    color:#304351;
    margin-left: 20px;
}
.card_script-top_part {
    height: 166px;
    background: rgb(250, 250, 250);
    width: 100%;
}
.card_script-bottom_part {
    border-top: 1px solid #DFE2E4;
    height: 70px;
    width: 100%;
}
.card_script__text span {
    display: block;
}
.card_script__menu {
    margin-left: 160px;  
    display: inline-block;
    margin-top: -30px; 
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}
