.h1 {
    color: #304351;
    font-weight: 600;
    font-size: 32px;
    display: inline;
}
.h1_left {
    margin-left: 30px;
}
.h4 {
    font-weight: 500;
    font-size: 14px;
    color: #6D7173;
}
.h4_uppercase {
    text-transform: uppercase;
}
.h5 {
    font-size: 14px;
    color: #304351;
    font-weight: 500;
}
.h6 {
    font-size: 18px;
    font-weight: 500;
    color: #304351;
}
.h5_left {
    margin-left: 15px;
}
@media screen and (max-width: 479px) {
    .h1_all-projects {
        margin-bottom: 20px;
    }
    .h1_left {
        margin-left: 10px;
    }
    .h1 {
        font-size: 24px;
        display: block;
    }
    
}
@media screen and (max-width: 830px) {
    .h1_executor-card {
        font-size: 28px;
    }

}
@media screen and (max-width: 479px) {
    .h1_executor-card {
        margin-left: 0;
        text-align: center;;
    }

}