.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header a {
    text-decoration: none;
}
.page-header__link {
    display: inline-block;
}
.page-header__img {
    display: block;
}
.page-header__text {
    font-size: 16px;
    color: #304351;
    margin-right: 120px;
    text-decoration: none;
}