.project_create-new {
    background-color: #21AA63;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 240px;
    height: 304px;
    text-decoration: none;
    margin-top: 24px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    border-radius: 4px;
}
.project_create-new:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}
.project_create-new__text {
    margin-top: 80px;
    font-weight: 500;
    font-size: 18px;
}
.project_create-new__img {
    margin-top: 50px;
}

