.row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.row-4 {
    width: calc(25% - 24px);
}
.row-5 {
    width: calc(20% - 21px);
}