.search {
    position: relative;
}
.search__input {
    width: 393px;
    height: 48px;
    background-color: #F3F6F8;
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: 62px;
}
.search__input::placeholder {
    color: #304351;
    font-size: 16px;
}
.search__btn {
    position: absolute;
    top: 13px;
    left: 20px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}
@media screen and (max-width: 1314px) {
    .search__input {
        width: 250px;
    }
    
}
@media screen and (max-width: 1190px) {
    .search__input {
        width: 175px;
        padding-left: 50px;
    }
        
}
@media screen and (max-width: 1100px) {
    .search__input {
        width: 125px;
        margin-left: -60px;    
    }
    .search__btn {
        left: -40px;
    }
}
@media screen and (max-width: 992px) {
    .search__input{
        width: 250px;
        padding-left: 62px;
        margin-left: 0;
    }
    .search__btn {
        left: 20px;
    }
}