.search {
    position: relative;
}
.search__input {
    width: 393px;
    height: 48px;
    background-color: #F3F6F8;
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: 62px;
}
.search__input::placeholder {
    color: #304351;
    font-size: 16px;
}
.search__btn {
    position: absolute;
    top: 13px;
    left: 20px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}