.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #DFE2E4;
    width: 372px;
    padding-top: 32px;
}
.socials_item {
    width: 180px;
    height: 52px;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.socials_item:hover {
    background-color: rgb(230, 230, 230);
}
@media screen and (max-width: 479px) {
    .socials {
        width: 282px;
    }
    .socials_item {
        width: 130px;
    }
    
    }