.socials {
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #DFE2E4;
    width: 372px;
}
.socials-item {
    margin-top: 32px;
    width: 180px;
    height: 52px;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.socials-item:hover {
    background-color: rgb(230, 230, 230);
}