#notfound {
    position: relative;
    height: 100vh;
}
#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.notfound {
    max-width: 710px;
    width: 100%;
    padding-left: 190px;
    line-height: 1.4;
}
.notfound .notfound-404 {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
}
.notfound .notfound-404 h1 {
    color: #21AA63;
    font-size: 55px;
    letter-spacing: 15.5px;
    margin: 0px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.notfound h2 {
    color: #292929;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-top: 0;
}
.notfound p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    color: #333;
}
@media only screen and (max-width: 480px) {
    .notfound {
      text-align: center;
    }
    .notfound .notfound-404 {
      position: relative;
      width: 100%;
      margin-bottom: 15px;
    }
    .notfound {
      padding-left: 15px;
      padding-right: 15px;
    }
}
  