.add-event-popup {
    background-color: #fff;
    width: 600px;
    height: 425px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-event-popup__blue-round-img-2 {
    position: absolute;
    top: 30px;
} 
.add-event-popup__blue-round-img {
    position: absolute;
    top: 45px;
}
.add-event-popup-line-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 540px;
}
.add-event-popup-line-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 540px;
}
.add-event-popup-line-1__input {
    width: 220px;
    height: 44px;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    padding-left: 15px;
    font-size: 14px;
    color: #304351;
}
.add-event-popup-line-2__input {
    width: 220px;
    height: 44px;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    padding-left: 15px;
    font-size: 14px;
    color: #304351;
}
.add-event-popup-line-2__input::placeholder {
    font-size: 14px;
    color: #304351;
}
.add-event-popup-line-1__input::placeholder {
    font-size: 14px;
    color: #304351;
}
.add-event-popup__img {
    width: 15px;
    height: 22px;
}
.add-event-popup-list > li {
    list-style-type: none; 
}
.add-event-popup-line-1 > li {
    list-style-type: none; 
}
.add-event-popup-line-1-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
.add-event-popup-item_input-title {
    width: 540px;
    height: 40px;
    padding-left: 45px;
    line-height: 25px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #21AA63;
    color: #304351;
    font-size: 20px;
}
.add-event-popup-item_input-description {
    /* overflow-y: scroll; */
    width: 540px;
    height: 113px;
    padding-left: 20px;
    padding-top: 20px;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    color: #304351;
    resize: none;
}
.add-event-popup-item_input-description::placeholder {
    font-size: 14px;
    color: #304351;
}
.add-event-popup-item_input-title::placeholder {
    color: #304351;
    font-size: 20px;
}
.add-event-button {
    width: 541px;
    height: 40px;
    background: #21AA63;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    border:none;
}
.add-event-button:hover {
    background-color: white;
    color: #21AA63;
    border: 1px solid #21AA63;
    transition:  background-color 0.4s ease-out, color 0.4s ease-out, border 0.4s ease-out;
    font-weight: 500;
    cursor: pointer;
}
.details-popup {
    background-color: #fff;
    width: 600px;
    height: 450px;
    padding: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-detail {
    display: block;
}
.event-detail-item {
    display: flex;
}
.event-detail__border {
    border-bottom: 2px solid #21AA63;
    width: 540px;
}
.event-detail-item__key {
    color: #304351;
    font-size: 18px;
    font-weight: 500;
    width: 240px;
}
.event-detail-item__value {
    color: #304351;
    font-size: 18px;
    font-weight: normal;
}
.event-detail-item__value_description{
    /* height: 100px;
    overflow-y: scroll; */
    word-break: break-all;
    width: 310px;
}
.button-edit {
    width: 541px;
    height: 40px;
    background: #FFA718;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    color: black;
    cursor: pointer;
    outline: none;
    border:none;
}
.button-edit:hover {
    background-color: white;
    color: #FFA718;
    border: 1px solid #FFA718;
    transition:  background-color 0.4s ease-out, color 0.4s ease-out, border 0.4s ease-out;
    font-weight: 500;
    cursor: pointer;
}
.button-delete {
    width: 541px;
    height: 40px;
    background: rgb(253, 34, 26);
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border:none;
    text-decoration: none;
}
#button-delete {
    text-decoration: none;
    color: #fff;
}
.button-delete:hover {
    background-color: white;
    color: rgb(253, 34, 26);
    border: 1px solid rgb(253, 34, 26);
    transition:  background-color 0.4s ease-out, color 0.4s ease-out, border 0.4s ease-out;
    font-weight: 500;
    cursor: pointer;
}
.button-delete:hover > #button-delete {
    color: rgb(253, 34, 26);
}
.button-cancel {
    width: 541px;
    height: 40px;
    background: #7C88F3;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border:none;
    text-decoration: none;
}
.button-cancel:hover {
    background-color: white;
    color: #7C88F3;
    border: 1px solid #7C88F3;
    transition:  background-color 0.4s ease-out, color 0.4s ease-out, border 0.4s ease-out;
    font-weight: 500;
    cursor: pointer;
}
.edit-form {
    display: none;
}
#success-close {
    padding: 10px;
    background-color: #21AA63;
    font-size: 18px;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}
#button-close {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    margin-left: 20px;
}
.button-delete-img {
    width: 20px;
    height: 20px;
}
@media screen and (max-width: 479px) {
    .fc-toolbar  {
        flex-direction: column !important;
    }
    .fc-view-container {
        width: 95vw !important;
    }
    .fc-day-header > span {
        font-size: 12px;
    }
    .fc-time > span {
        font-size: 12px;
    }
    .fc-left, .fc-center {
        margin-bottom: 16px;
    }
    .fc-center {
        margin-left: 20px;
    }
    .add-event-popup {
        width: 300px;
        height: 550px;
    }
    .add-event-popup-item_input-title {
        width: 250px;
    }
    .add-event-popup-item {
        display: flex;
        justify-content: center;
    }
    .add-event-popup__blue-round-img {

    }
    .add-event-popup-line-1, .add-event-popup-line-2 {
        flex-direction: column;
        width: 250px;
    }
    .add-event-popup-item_input-description {
        width: 250px;
    }
    .add-event-button {
        width: 250px;
    }
    .add-event-popup-line-1-item, .add-event-popup-line-2-item {
        justify-content: space-between;
        width: 250px;
    }
    .add-event-popup-line-1-item_adapt {
        margin-bottom: 16px;
    }
    .add-event-popup__blue-round-img {
        display: none;
    }
    .add-event-popup-item_input-title {
        padding-left: 20px;
    }
    .details-popup {
        flex-direction: column;
        width: 300px;
        height: 600px;
    }
    .event-detail-item {
        flex-direction: column;
    }
    .event-detail {
        width: 250px;
    }
    .button-edit, .button-delete {
        width: 250px;
    }
    .event-detail-item__value, .event-detail-item__key {
        width: 250px;
    }
    .add-event-popup__blue-round-img-2 {
        display: none;
    }
    .edit-event-popup {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 300px;
    }
    .button-cancel {
        margin-top: 16px;
        width: 250px;
        margin-left: 25px;
    }
}