.create-new__pop-up {
    background-color: #fff;
    width: 600px;
    height: 425px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}