.dates {
    display: flex;
    justify-content: space-between;
}
.dates__left__calendar {
    width: 110px;
    height: 44px;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dates__left__link , .dates__right__link {
    text-decoration: none;
}
.dates__left__calendar__text {
    color: #304351;
    font-size: 13px;
    text-transform: uppercase;
}
.dates__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.dates__left__list_arrows {
    display: flex;
    justify-content: space-around;
}
.dates__left__arrow1 {
    width: 46px;
    height: 44px;
    border: 1px solid #DFE2E4;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dates__left__arrow2 {
    width: 46px;
    height: 44px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #DFE2E4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dates__left__month {
    font-size: 20px;
    color: #304351;
}
.dates__right {
    display: flex;
    justify-content: space-between;
}
.dates__right__day {
    width: 86px;
    height: 44px;
    border: 1px solid #DFE2E4;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dates__right__week {
    width: 86px;
    height: 44px;
    border: 1px solid #DFE2E4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dates__right__month {
    width: 86px;
    height: 44px;
    border: 1px solid #DFE2E4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dates__right__year {
    width: 86px;
    height: 44px;
    border: 1px solid #DFE2E4;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dates__right__text {
    font-size: 13px;
    text-transform: uppercase;
    color: #304351;
}
.dates__right__week_selected {
    background: #F3F6F8;
}