.help {
    position: fixed;
    bottom: 30px;
    right: 10px;
    border: 2px solid #21AA63;
    border-radius: 50%;
    transition: 0.3s ease-out;
}
.help__icon {
    padding: 9px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: block;
}
.help:hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
}
.help__icon.night  {
    filter: invert(100%);
}