.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-header a {
    text-decoration: none;
}
.page-header__link {
    display: inline-block;
}
.page-header__img {
    display: block;
}
.page-header__text {
    font-size: 16px;
    color: #304351;
    /* margin-right: 120px; */
    text-decoration: none;
}
.page-header__info {
    display: block;
    margin-top: 16px;
    margin-left: 43px;
    font-size: 14px;
    color: #304351;
}
.page-header__number {
    font-size: 18px;
    color: #21AA63;
    font-weight: 500;
    margin-left: 20px;
}
.page-header__rating {
    font-size: 18px;
    color: #304351;
}
@media screen and (max-width: 1190px) {
    .page-header__link {
        display: none;
    }
    .page-header__text {
        margin-right: 0px;
    }
}
@media screen and (max-width: 830px) {
    .page-header__left {
        margin-left: 40px;
    }
}
@media screen and (max-width: 767px) {
    .page-header__left {
        margin: auto;
    }
}
@media screen and (max-width: 992px) {
    .page-header_adapt {
        flex-direction: column;
    }
    /* .page-header__left {
        margin-left: 0px;
    } */
}
@media screen and (max-width: 479px) {
    .page-header {
        flex-direction: column;
    }
    .page-header__left-icon {
        display: none;
    }
    .page-header__info {
        margin-left: 0px;
        text-align: center;
    }
    /* .page-header__left {
        margin-left: 110px;
    } */
    .page-header__right {
        text-align: center;
        margin-top: 16px;
    }
    .page-header__rating {
        margin-left: 63px;
    }
    .page-header__number {
        margin-left: 0px;
    }
}