.profile-editor {
    display: flex;
    flex-direction: column;
}
.profile-editor__row {
    display: flex;
    align-items: center;
}
.profile-editor__label {
    margin-right: 20px;
    color: #304351;
    font-size: 18px;
    float: left;
    text-align: right;
    width: 350px;
}
.profile-editor__value input {
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    width: 350px;
    height: 52px;
    color: #304351;
    font-size: 16px;
    padding-left: 10px;
}
.profile-editor__value input:focus {
    border: 0.5px solid #21AA63;
}
.profile-editor__value_info {
    height: 70px;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    width: 350px;
    resize: none;
    color: #304351;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
}
.profile-editor__value_info:focus {
    border: 0.5px solid #21AA63;
}
.profile-editor__label_gender {
    margin-top: 20px;
}
.profile-editor__switch {
    margin-left: -14px;
}