.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    /* margin-right: 25px; */
}
.sidebar__with-logo {
    position: absolute;
    top: 0;
    left: 20px;
}
.sidebar ul {
    list-style: none;
}
.sidebar__top-list {
    position: relative;
    margin-left: 30px;
}
.sidebar__top-list__item {
    display: flex;
    justify-content: flex-start;
}
.sidebar__top-list::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: 1px;
    margin-left: -55%;
    background: #DFE2E4;
}
.sidebar_current-list__item {
    color: #21AA63;
    font-size: 16px;
    text-decoration: none;
}
.sidebar_list-img {
    margin-right: 5px;
    vertical-align: middle;
    width: 16px;
    height: 18px;
}
.sidebar_list-text {
    margin-right: 125px;
    font-size: 16px;
    text-decoration: none;
    color: #304351;
}
.sidebar__bottom-list__item {
    display: flex;
    justify-content: flex-start;
    margin-right: -55px;
}
.sidebar__top-list .selected_item {
    position: relative;
}
.sidebar__top-list .selected_item:before {
    background: url("../img/green.svg");
    position: absolute;
    content: "";
    width: 5px;
    height: 40px;
    margin-top: -7px;
    margin-left: -30px;
}
.sidebar__middle-list .selected_item {
    position: relative;
}
.sidebar__middle-list .selected_item:before {
    background: url("../img/green.svg");
    position: absolute;
    content: "";
    width: 5px;
    height: 40px;
    margin-top: -7px;
    margin-left: -30px;
}
.sidebar-series {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
.sidebar-series__bottom-line {
    border-bottom: 1px solid rgb(185, 185, 185);
}
.sidebar-series__item {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    width: 240px;
    margin-right: -60px;
    
}
.sidebar-series__item__number,
.sidebar-series__item__title {
    width: 20px;
    font-size: 16px;
    color: #304351;
}
.sidebar-series__item__title {
    word-break: break-all;
    width: 240px;
}
.sidebar-series__item-selected {
    position: relative;
}
.sidebar-series__item-selected::before {
    position: absolute;
    background: #21AA63;
    width: 5px;
    height: 25px;
    content: "";
    left: -25px;
}
.sidebar_list-text.night {
    color: white;
}
.sidebar_list-img.night {
    filter: invert(100%);
}
.sidebar-series__item__number.night,
.sidebar-series__item__title.night {
    color: #DEDEDE;
}
@media screen and (max-width: 999px){
    .sidebar {
        display: none;
    }
    .sidebar-series {
        display: none;
    }
}