@import url("socials.css");
@import url("page-auth.css");
@import url("button.css");
@import url("input.css");
@import url("atomic.css");
@import url("wrapper.css");
@import url("menu.css");
@import url("main-content.css");
@import url("projects.css");
@import url("auth-form.css");
@import url("help.css");
@import url("search.css");
@import url("h.css");
@import url("card.css");
@import url("row.css");
@import url("page-header.css");
@import url("select.css");
@import url("sidebar.css");
@import url("header.css");
@import url("create-new.css");
@import url("participants-menu.css");
@import url("filters.css");
@import url("swiper2.css");
@import url("flex.css");
@import url("toggle.css");
@import url("executor.css");
@import url("back.css");
@import url("editor.css");
@import url("date.css");
@import url("calendar.css");
@import url("popper.css");
@import url("profile-editor.css");
@import url("add-project-popup.css");
@import url("add-script-popup.css");
@import url("consent.css");
@import url("delete-project-popup.css");
@import url("series.css");
@import url("invite-popup.css");
@import url("manual.css");
@import url("404.css");

@font-face {
    font-family: 'CoFoSans';
    src: url('../fonts/CoFoSans-Regular.eot');
    src: url('../fonts/CoFoSans-Regular.eot?#CoFoSans-Regular') format('embedded-opentype'),
         url('../fonts/CoFoSans-Regular.woff') format('woff'),
         url('../fonts/CoFoSans-Regular.ttf') format('truetype'),
         url('../fonts/CoFoSans-Regular.svg#CoFoSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CoFoSans';
    src: url('../fonts/CoFoSans-Medium.eot');
    src: url('../fonts/CoFoSans-Medium.eot?#CoFoSans-Medium') format('embedded-opentype'),
         url('../fonts/CoFoSans-Medium.woff') format('woff'),
         url('../fonts/CoFoSans-Medium.ttf') format('truetype'),
         url('../fonts/CoFoSans-Medium.svg#CoFoSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'CoFoSans';
    src: url('../fonts/CoFoSans-Bold.eot');
    src: url('../fonts/CoFoSans-Bold.eot?#CoFoSans-Bold') format('embedded-opentype'),
         url('../fonts/CoFoSans-Bold.woff') format('woff'),
         url('../fonts/CoFoSans-Bold.ttf') format('truetype'),
         url('../fonts/CoFoSans-Bold.svg#CoFoSans-Bold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'CoFoSans';
    src: url('../fonts/CoFoSans-Black.eot');
    src: url('../fonts/CoFoSans-Black.eot?#CoFoSans-Black') format('embedded-opentype'),
         url('../fonts/CoFoSans-Black.woff') format('woff'),
         url('../fonts/CoFoSan–øs-Black.ttf') format('truetype'),
         url('../fonts/CoFoSans-Black.svg#CoFoSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'CoFoSans';
}
::-webkit-scrollbar-thumb {
    background: #21AA63;
    border-radius: 5px;
    box-sizing: border-box;
}
::-webkit-scrollbar-thumb:hover {
    background:  rgb(27, 131, 77);
}
::-webkit-scrollbar {
    border-radius: 10px;
    width: 7px;
    height: 7px;
    background-color: #e6e6e6;
}
body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #e6e6e6;
}   



