.toggle_icon_active {
    fill: #304351;
}
.toggle-night {
    background: #6D7173;
    border-radius: 12px;
    width: 32px;
    height: 16px;
    position: relative;
    border: 2px solid #6D7173;
}
.toggle-night:before {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    content: "";
    transition: 0.5s;
}
.toggle-night.active:before {
    left: 15px;
}
.toggle-night.active {
    background: #262C31;
    border: 2px solid #DFE2E4;
}
body.night {
    background: #262C31;
}